/* -----------------------------------------------------------------------------

  TABLE OF CONTENTS

  1.) General
  2.) Components
  3.) Header
  4.) Body / Wrapper
  5.) Core
  6.) Page Sidebar
  7.) Bottom Panel
  8.) Footer
  9.) Main Sidebar
  10.) Responsive

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

    1.) GENERAL

----------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
    COLORS
  -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
    MIXINS
  -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
    DEFAULTS
  ------------------------------------------------------------------------- */
body {
  color: #2f2d40;
  background-color: #fc4373; }

a, a:hover, a:active, a:focus {
  color: #fc225b; }

a:hover {
  border-color: #fc225b; }

/* -------------------------------------------------------------------------
        VARIOUS CONTENT / TYPOGRAPHY
  ------------------------------------------------------------------------- */
.various-content h1, .various-content h2, .various-content h3, .various-content h4, .various-content h5 {
  color: #2f2d40; }
.various-content ul > li:before {
  background-color: #2f2d40; }
.various-content ul ul > li:before {
  background-color: #d1baca; }
.various-content table th {
  border-color: #edeae4; }
.various-content table.m-alternate tbody > tr:nth-child(even) {
  background-color: #edeae4; }

.heading-2 {
  color: #2f2d40; }

/* -------------------------------------------------------------------------
    FORMS
  ------------------------------------------------------------------------- */
.default-form label {
  color: #2f2d40; }
.default-form label > span {
  color: #fc225b; }
.default-form input, .default-form textarea, .default-form select, .default-form .selectbox-input .toggle {
  color: #2f2d40;
  background-color: #edeae4; }
.default-form input.m-type-2, .default-form textarea.m-type-2, .default-form select.m-type-2 {
  border-color: #e0d1d5;
  background-color: transparent; }
.default-form input.m-error, .default-form textarea.m-error, .default-form select.m-error {
  -moz-box-shadow: inset 0 0 0 3px #ffdfe0;
  -webkit-box-shadow: inset 0 0 0 3px #ffdfe0;
  box-shadow: inset 0 0 0 3px #ffdfe0; }
.default-form .checkbox-input label, .default-form .radio-input label {
  color: #2f2d40; }
.default-form .checkbox-input label:before, .default-form .radio-input label:before {
  color: #d1baca; }
.default-form .checkbox-input.m-checked label:before, .default-form .radio-input.m-checked label:before {
  color: #fc225b; }
.default-form .selectbox-input .toggle:after {
  color: #fc225b; }
.default-form .selectbox-input .fake-selectbox {
  background-color: #edeae4;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }
.default-form .selectbox-input .fake-selectbox > li:hover {
  color: #FFF;
  background-color: #fc225b; }

/* -----------------------------------------------------------------------------

    2.) COMPONENTS

----------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
    ACCORDION
  ------------------------------------------------------------------------- */
.various-content .c-accordion > li, .c-accordion > li {
  border-color: #edeae4; }
.various-content .c-accordion .accordion-title, .c-accordion .accordion-title {
  color: #2f2d40; }
.various-content .c-accordion .accordion-title:before, .c-accordion .accordion-title:before {
  color: #fc225b; }
.various-content .c-accordion .accordion-price, .c-accordion .accordion-price {
  color: #fc225b; }
.various-content .c-accordion .accordion-price .sale-price, .c-accordion .accordion-price .sale-price {
  color: #f4bc62; }
.various-content .c-accordion .accordion-price .strikethrough, .c-accordion .accordion-price .strikethrough {
  color: #2f2d40; }

/* -------------------------------------------------------------------------
    ALERT MESSAGES
  ------------------------------------------------------------------------- */
.c-alert-message {
  border-color: #FFF; }

.c-alert-message.m-warning {
  color: #d40041;
  background-color: #ffdfe0;
  -moz-box-shadow: 0 0 0 5px #ffdfe0;
  -webkit-box-shadow: 0 0 0 5px #ffdfe0;
  box-shadow: 0 0 0 5px #ffdfe0; }

.c-alert-message.m-success {
  color: #499143;
  background-color: #d4fbd3;
  -moz-box-shadow: 0 0 0 5px #d4fbd3;
  -webkit-box-shadow: 0 0 0 5px #d4fbd3;
  box-shadow: 0 0 0 5px #d4fbd3; }

.c-alert-message.m-info {
  color: #265e88;
  background-color: #e1edf9;
  -moz-box-shadow: 0 0 0 5px #e1edf9;
  -webkit-box-shadow: 0 0 0 5px #e1edf9;
  box-shadow: 0 0 0 5px #e1edf9; }

.c-alert-message.m-notification {
  color: #c88435;
  background-color: #fff4cf;
  -moz-box-shadow: 0 0 0 5px #fff4cf;
  -webkit-box-shadow: 0 0 0 5px #fff4cf;
  box-shadow: 0 0 0 5px #fff4cf; }

/* -------------------------------------------------------------------------
    BLOG
  ------------------------------------------------------------------------- */
.c-blog .article-inner {
  border-color: #edeae4; }
.c-blog .article-quote {
  border-color: #e0d1d5; }
.c-blog .article-quote blockquote p {
  color: #2f2d40; }
.c-blog .article-link:before, .c-blog article.link .article-title:before {
  color: #e0d1d5; }
.c-blog .article-footer {
  border-color: #edeae4; }
.c-blog .article-info > li:before {
  color: #d1baca;
  background: none; }
.c-blog .blog-filter > li > button {
  color: #d1baca; }
.c-blog .blog-filter > li > button:hover, .c-blog .blog-filter > li > button.m-active {
  color: #fc225b; }

/* -------------------------------------------------------------------------
    BUTTONS
  ------------------------------------------------------------------------- */
.c-button {
  color: #FFF;
  border-color: #fc225b;
  background-color: #fc225b; }
  .c-button:hover, .c-button:active {
    color: #FFF; }
  .c-button:hover:not(.m-disabled), .c-button:active:not(.m-disabled) {
    color: #fc225b;
    background-color: transparent; }
  .c-button.m-color-2 {
    border-color: #f4bc62;
    background-color: #f4bc62; }
  .c-button.m-color-2:hover:not(.m-disabled), .c-button.m-color-2:active:not(.m-disabled) {
    color: #f4bc62;
    background-color: transparent; }
  .c-button.m-color-3 {
    border-color: #2f2d40;
    background-color: #2f2d40; }
  .c-button.m-color-3:hover:not(.m-disabled), .c-button.m-color-3:active:not(.m-disabled) {
    color: #2f2d40;
    background-color: transparent; }
  .c-button.m-outline {
    color: #fc225b;
    border-color: #fc225b;
    background-color: transparent; }
  .c-button.m-outline:hover:not(.m-disabled), .c-button.m-outline:active:not(.m-disabled) {
    color: #FFF;
    background-color: #fc225b; }
  .c-button.m-outline.m-color-2 {
    color: #f4bc62;
    border-color: #f4bc62; }
  .c-button.m-outline.m-color-2:hover:not(.m-disabled), .c-button.m-outline.m-color-2:active:not(.m-disabled) {
    color: #FFF;
    background-color: #f4bc62; }
  .c-button.m-outline.m-color-3 {
    color: #2f2d40;
    border-color: #2f2d40; }
  .c-button.m-outline.m-color-3:hover:not(.m-disabled), .c-button.m-outline.m-color-3:active:not(.m-disabled) {
    color: #FFF;
    background-color: #2f2d40; }

/* -------------------------------------------------------------------------
    COUNTER
  ------------------------------------------------------------------------- */
.c-counter .counter-value {
  color: #fc225b; }

/* -------------------------------------------------------------------------
    CTA MESSAGE
  ------------------------------------------------------------------------- */
.c-cta-message {
  background-color: #edeae4; }

/* -------------------------------------------------------------------------
    DIVIDER
  ------------------------------------------------------------------------- */
.c-divider {
  border-color: #edeae4; }

.c-divider.m-transparent {
  border-color: transparent; }

/* -------------------------------------------------------------------------
    GALLERY
  ------------------------------------------------------------------------- */
.c-gallery .item-list {
  background-color: #edeae4; }
.c-gallery.m-no-bg .item-list {
  background-color: transparent; }
.c-gallery.m-frames .item-list {
  background-color: transparent;
  border-color: #FFF; }
.c-gallery.m-frames .item-list > .item {
  border-color: #FFF; }
.c-gallery .item-list .item-image:after {
  background-color: #fc225b;
  background-color: rgba(252, 34, 91, 0.9); }
.c-gallery .item-list .m-video .item-image:before, .c-gallery .item-list .item-image.lightbox-video:before {
  color: #FFF;
  color: rgba(255, 255, 255, 0.5); }
.c-gallery .item-list .item.m-overlay-ico:after {
  color: #FFF; }
.c-gallery .item-list .item-info {
  color: #FFF; }
.c-gallery .item-list .item-info h4, .c-gallery .item-list .item-info h4 a {
  color: #FFF; }
.c-gallery .item-list .item-info h4:after {
  background-color: #FFF; }
.c-gallery .item-list .item-tools > * {
  color: #FFF; }
.c-gallery .item-list .item-tools > *:hover {
  color: #fc225b;
  background-color: #FFF; }
.c-gallery .gallery-tools, .c-gallery .gallery-tools:first-child {
  border-color: #edeae4; }
.c-gallery .gallery-filter > li > button {
  color: #d1baca; }
.c-gallery .gallery-filter > li > button:hover, .c-gallery .gallery-filter > li > button.m-active {
  color: #fc225b; }
.c-gallery .gallery-tools-top {
  border-color: #edeae4; }

/* -------------------------------------------------------------------------
    ICON BLOCK
  ------------------------------------------------------------------------- */
.c-icon-block > .fa {
  color: #fc225b; }
.c-icon-block h3 {
  color: #2f2d40; }

/* -------------------------------------------------------------------------
    LOADING ANIM
  ------------------------------------------------------------------------- */
.c-loading-anim {
  background-color: #d1baca; }
  .c-loading-anim > span {
    background-image: url("../../img/loader_2x.gif");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../img/loader_2x.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../img/loader_2x.gif', sizingMethod='scale')"; }

/* -------------------------------------------------------------------------
    MODAL
  ------------------------------------------------------------------------- */
.c-modal {
  background-color: rgba(252, 34, 91, 0.8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 188, 98, 0.8)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(244, 188, 98, 0.8), transparent);
  background-image: -moz-linear-gradient(top, rgba(244, 188, 98, 0.8), transparent);
  background-image: -o-linear-gradient(top, rgba(244, 188, 98, 0.8), transparent);
  background-image: linear-gradient(to bottom, rgba(244, 188, 98, 0.8), transparent); }
  .c-modal .modal-loading .c-loading-anim {
    background-color: transparent; }
  .c-modal .modal-box {
    background-color: #FFF; }
  .c-modal .modal-header {
    border-color: #edeae4; }
  .c-modal .modal-title h1, .c-modal .modal-title h1 a {
    color: #2f2d40; }

/* -------------------------------------------------------------------------
    PAGINATION
  ------------------------------------------------------------------------- */
.c-pagination .c-button {
  border-color: #edeae4; }
.c-pagination .c-button:hover {
  border-color: #fc225b; }
.c-pagination .m-active .c-button {
  color: #FFF;
  border-color: #fc225b;
  background-color: #fc225b; }

.c-pagination.m-ajaxed .c-button {
  border-color: #fc225b; }
.c-pagination.m-ajaxed .c-button.m-loading {
  color: #FFF;
  background-color: #fc225b; }

/* -------------------------------------------------------------------------
    PARALLAX SECTION
  ------------------------------------------------------------------------- */
.various-content .c-parallax-section, .c-parallax-section {
  border-color: #FFF; }
  .various-content .c-parallax-section .section-inner, .c-parallax-section .section-inner {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5); }
  .various-content .c-parallax-section .section-header h2, .c-parallax-section .section-header h2 {
    color: #FFF; }
  .various-content .c-parallax-section .section-header h2:after, .c-parallax-section .section-header h2:after {
    background-color: #fc225b; }
  .various-content .c-parallax-section .c-button, .c-parallax-section .c-button {
    color: #FFF; }

/* -------------------------------------------------------------------------
    PRICING TABLE
  ------------------------------------------------------------------------- */
.various-content .c-pricing-table, .c-pricing-table {
  border-color: #edeae4; }
  .various-content .c-pricing-table .table-price, .c-pricing-table .table-price {
    color: #fc225b; }
  .various-content .c-pricing-table .table-price > span, .c-pricing-table .table-price > span {
    color: #2f2d40; }
  .various-content .c-pricing-table .table-content ul > li, .c-pricing-table .table-content ul > li {
    border-color: #edeae4; }

/* -------------------------------------------------------------------------
    PROGRESS BAR
  ------------------------------------------------------------------------- */
.c-progress-bar {
  background-color: #edeae4; }

.c-progress-bar > span {
  background-color: #fc225b; }

.c-progress-bar.m-color-2 > span {
  background-color: #f4bc62; }

.c-progress-bar.m-color-3 > span {
  background-color: #2f2d40; }

/* -------------------------------------------------------------------------
    SEARCH FORM
  ------------------------------------------------------------------------- */
.c-search-form .form-fields {
  border-color: #edeae4; }
.c-search-form input {
  color: #2f2d40; }

/* -------------------------------------------------------------------------
    SECTION
  ------------------------------------------------------------------------- */
section .section-header h2 {
  color: #2f2d40; }
section .section-header h2:after {
  background-color: #fc225b; }

/* -------------------------------------------------------------------------
    SERVICE
  ------------------------------------------------------------------------- */
.c-service {
  border-color: #e0d1d5; }
  .c-service .service-ico {
    color: #FFF;
    background-color: #fc225b;
    border-color: #FFF; }
  .c-service h3 {
    color: #2f2d40; }

/* -------------------------------------------------------------------------
    SLIDER
  ------------------------------------------------------------------------- */
.c-slider .section-inner {
  background-color: rgba(11, 8, 38, 0.15); }
.c-slider .slide {
  color: #FFF; }
.c-slider h1, .c-slider h2, .c-slider h3, .c-slider h4 {
  color: #FFF; }
.c-slider .c-button {
  color: #2f2d40;
  border-color: #FFF;
  background-color: #FFF; }
  .c-slider .c-button:hover, .c-slider .c-button:active {
    color: #2f2d40; }
  .c-slider .c-button:hover:not(.m-disabled), .c-slider .c-button:active:not(.m-disabled) {
    color: #FFF;
    background-color: transparent; }
  .c-slider .c-button.m-outline {
    color: #FFF;
    border-color: #FFF;
    background-color: transparent; }
  .c-slider .c-button.m-outline:hover:not(.m-disabled), .c-slider .c-button.m-outline:active:not(.m-disabled) {
    color: #2f2d40;
    background-color: #FFF; }
.c-slider .slide-bg {
  background-color: transparent; }
.c-slider h1 a, .c-slider h2 a {
  color: #FFF; }
.c-slider h1 a:hover, .c-slider h2 a:hover {
  border-color: #FFF; }
.c-slider .nav-prev, .c-slider .nav-next {
  color: #FFF;
  border-color: #FFF; }
.c-slider .nav-prev:hover, .c-slider .nav-next:hover {
  color: #2f2d40;
  background-color: #FFF; }
.c-slider .slider-indicator {
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.2); }
.c-slider .slider-indicator > span {
  background-color: #fc225b; }
.c-slider .quote:before {
  position: absolute;
  left: -10px;
  top: -10px;
  opacity: .15;
  display: block;
  font: normal normal normal 1em/1 FontAwesome;
  font-size: 65px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f10d"; }
.c-slider .quote:after {
  position: absolute;
  right: -10px;
  bottom: -10px;
  opacity: .15;
  display: block;
  font: normal normal normal 1em/1 FontAwesome;
  font-size: 65px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f10e"; }

/* -------------------------------------------------------------------------
    TABS
  ------------------------------------------------------------------------- */
.c-tabs .tab-list > li {
  color: #2f2d40;
  border-color: #edeae4;
  background-color: transparent; }
.c-tabs .tab-list > li:hover {
  border-color: #d1baca; }
.c-tabs .tab-list > li.m-active {
  color: #FFF;
  border-color: #fc225b;
  background-color: #fc225b; }

/* -------------------------------------------------------------------------
    TEAM MEMBER
  ------------------------------------------------------------------------- */
.various-content .c-team-member .member-name, .c-team-member .member-name {
  color: #2f2d40; }
.various-content .c-team-member .member-role, .c-team-member .member-role {
  color: #2f2d40; }
.various-content .c-team-member .member-social > li > a:hover, .c-team-member .member-social > li > a:hover {
  color: #FFF;
  background-color: #fc225b; }

/* -----------------------------------------------------------------------------

    3.) HEADER

----------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
    LARGE & STANDARD HEADER
  ------------------------------------------------------------------------- */
#header.m-standard, #header.m-large {
  background: url('../../../images/header_bg.jpg') center 0 no-repeat;
  background-size: cover; }
  #header.m-standard .header-inner, #header.m-large .header-inner {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fc4373), to(rgba(244, 188, 98, 0.8)));
    background-image: -webkit-linear-gradient(bottom, #fc4373, rgba(244, 188, 98, 0.8));
    background-image: -moz-linear-gradient(bottom, #fc4373, rgba(244, 188, 98, 0.8));
    background-image: -o-linear-gradient(bottom, #fc4373, rgba(244, 188, 98, 0.8));
    background-image: linear-gradient(to top, #fc4373, rgba(244, 188, 98, 0.8));
    background-color: inherit; }
    #header.m-standard .header-inner .header-branding-inner svg, #header.m-large .header-inner .header-branding-inner svg {
      display: none; }
    #header.m-large .header-inner .header-branding-inner a:before {
      content: "";
      width: 300px;
      height: 77px;
      display: block;
      background: url(../../../images/azkai-full.png) no-repeat center center;
      background-size: contain; }
      #header.m-standard .header-inner .header-branding-inner a:before {
      content: "";
      width: 200px;
      height: 77px;
      display: block;
      background: url(../../../images/azkai-full.png) no-repeat center center;
      background-size: contain;
      }
  #header.m-standard .header-menu > ul > li > a, #header.m-large .header-menu > ul > li > a {
    color: #FFF; }
  #header.m-standard .header-menu > ul > li.m-active > a:after, #header.m-large .header-menu > ul > li.m-active > a:after {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.5); }
  #header.m-standard .header-menu > ul > li > a:hover:after, #header.m-large .header-menu > ul > li > a:hover:after {
    background-color: #FFF;
    background-color: white; }
  #header.m-standard .header-menu ul > li > ul, #header.m-large .header-menu ul > li > ul {
    background-color: #FFF;
    -moz-box-shadow: 1px 1px 2px rgba(11, 8, 38, 0.15);
    -webkit-box-shadow: 1px 1px 2px rgba(11, 8, 38, 0.15);
    box-shadow: 1px 1px 2px rgba(11, 8, 38, 0.15); }
  #header.m-standard .header-menu ul > li > ul a, #header.m-large .header-menu ul > li > ul a {
    color: #2f2d40; }
  #header.m-standard .header-menu ul > li > ul a:hover, #header.m-large .header-menu ul > li > ul a:hover {
    color: #FFF;
    background-color: #fc225b; }
  #header.m-standard .header-menu ul > li > ul li.m-hover > a:not(:hover), #header.m-large .header-menu ul > li > ul li.m-hover > a:not(:hover) {
    color: #FFF;
    background-color: rgba(252, 34, 91, 0.7); }
  #header.m-standard .main-sidebar-toggle, #header.m-large .main-sidebar-toggle {
    color: #FFF;
    border: 2px solid #FFF; }
  #header.m-standard .main-sidebar-toggle.m-active, #header.m-standard .main-sidebar-toggle:hover, #header.m-large .main-sidebar-toggle.m-active, #header.m-large .main-sidebar-toggle:hover {
    background-color: #FFF;
    color: #fc225b; }

@media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
  #header .header-inner {
    background-color: #f4bc62; } }

/* -------------------------------------------------------------------------
    FIXED HEADER
  ------------------------------------------------------------------------- */
#header-fixed {
  background-color: #0b0826;
  background-color: rgba(11, 8, 38, 0.9); }
  #header-fixed a .logo {
    fill: #fff;
    color: #fff;
    min-width: 100%;
    width: inherit; }
  #header-fixed .m-standard svg { max-width: 50px; max-height: 50px; }
  #header-fixed .header-branding-inner {
    width: 52px;
    width: 52px; }
  #header-fixed .header-menu > ul > li > a {
    color: #FFF; }
  #header-fixed .header-menu > ul > li.m-active > a:after {
    background-color: #fc225b;
    background-color: rgba(252, 34, 91, 0.6); }
  #header-fixed .header-menu > ul > li > a:hover:after {
    background-color: #fc225b; }
  #header-fixed .header-menu ul > li > ul {
    background-color: #0b0826;
    background-color: rgba(11, 8, 38, 0.95); }
  #header-fixed .header-menu ul > li > ul ul {
    background-color: #0b0826; }
  #header-fixed .header-menu ul > li > ul a {
    color: #FFF; }
  #header-fixed .header-menu ul > li > ul a:hover {
    background-color: #fc225b; }
  #header-fixed .header-menu ul > li > ul li.m-hover > a:not(:hover) {
    background-color: rgba(252, 34, 91, 0.5); }
  #header-fixed .header-menu > ul > li.m-hover > a, #header-fixed .header-menu > ul > li.m-active > a {
    border-color: #fc225b; }
  #header-fixed .main-sidebar-toggle {
    color: #FFF;
    border: 2px solid #FFF; }
  #header-fixed .main-sidebar-toggle.m-active, #header-fixed .main-sidebar-toggle:hover {
    background-color: #FFF;
    color: #fc225b; }

/* -----------------------------------------------------------------------------

    4.) BODY / WRAPPER

----------------------------------------------------------------------------- */
#body {
  background-color: #f4bc62;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc4373), to(#f4bc62 100vh));
  background-image: -webkit-linear-gradient(top, #fc4373, #f4bc62 100vh);
  background-image: -moz-linear-gradient(top, #fc4373, #f4bc62 100vh);
  background-image: -o-linear-gradient(top, #fc4373, #f4bc62 100vh);
  background-image: linear-gradient(to bottom, #fc4373, #f4bc62 100vh); }

.m-header-scrolled-out #body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc4373), to(#f4bc62 100%));
  background-image: -webkit-linear-gradient(top, #fc4373, #f4bc62 100%);
  background-image: -moz-linear-gradient(top, #fc4373, #f4bc62 100%);
  background-image: -o-linear-gradient(top, #fc4373, #f4bc62 100%);
  background-image: linear-gradient(to bottom, #fc4373, #f4bc62 100%);
  background-attachment: fixed; }

#wrapper {
  border-color: #FFF;
  background-color: #FFF; }

/* -----------------------------------------------------------------------------

    5.) CORE

----------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
        PAGE HEADER
    ------------------------------------------------------------------------- */
#page-header {
  border-color: #edeae4; }
  #page-header h1 {
    color: #2f2d40; }
  #page-header h1:after {
    background-color: #fc225b; }

/* -------------------------------------------------------------------------
        ABOUT ME
    ------------------------------------------------------------------------- */
.about-me-jumbotron {
  background-color: #edeae4; }

/* -------------------------------------------------------------------------
        ABOUT ME
    ------------------------------------------------------------------------- */
a[class*="connect"] {
  color: #2f2d40; }

a[class*="connect"]:hover, a[class*="connect"]:focus {
  color: #fc225b; }

/* -------------------------------------------------------------------------
        BLOG LIST / DETAIL
  ------------------------------------------------------------------------- */
a .article-header, a .article-content {
  color: #2f2d40; }

.article-inner a .article-title {
  color: #fc225b; }

/* BLOG LINK FULL */
.blog-detail .article-title, .blog-list .article-title {
  color: #2f2d40; }
.blog-detail .article-quote, .blog-list .article-quote {
  border-color: #e0d1d5; }
.blog-detail .article-quote blockquote p, .blog-list .article-quote blockquote p {
  color: #2f2d40; }
.blog-detail .article-link:before, .blog-detail article.link .article-title:before, .blog-list .article-link:before, .blog-list article.link .article-title:before {
  color: #e0d1d5; }
.blog-detail .article-footer, .blog-list .article-footer {
  border-color: #edeae4; }
.blog-detail .article-info > li:before, .blog-list .article-info > li:before {
  color: #d1baca; }

/* -------------------------------------------------------------------------
        BLOG DETAIL
  ------------------------------------------------------------------------- */
.blog-detail .article-author .author-name {
  color: #2f2d40; }
.blog-detail .article-author .author-social > li > a {
  color: #fc225b;
  background-color: transparent; }
.blog-detail .article-author .author-social > li > a:hover {
  color: #FFF;
  background-color: #fc225b; }
.blog-detail .article-navigation h5 {
  color: #2f2d40; }
.blog-detail .comment-list .comment-author {
  color: #2f2d40; }
.blog-detail .comment-list .comment-info {
  border-color: #edeae4; }
.blog-detail .comment-list .comment-date:before, .blog-detail .comment-list .comment-reply:before {
  color: #d1baca; }
.blog-detail .comment-list .comment-reply:hover:before {
  color: #fc225b; }

/* -------------------------------------------------------------------------
        PORTFOLIO DETAIL
    ------------------------------------------------------------------------- */
.portfolio-detail .project-images {
  border-color: rgba(0, 0, 0, 0.05); }
.portfolio-detail .project-images .image-info {
  background-color: rgba(255, 255, 255, 0.5); }
.portfolio-detail .project-info > dt {
  color: #2f2d40; }
.portfolio-detail .project-folders ul:before {
  color: #fc225b; }

/* -------------------------------------------------------------------------
        SEARCH RESULTS
  ------------------------------------------------------------------------- */
.search-results .item-title {
  color: #2f2d40; }

.search-results .search-query {
  color: #f4bc62; }

/* -------------------------------------------------------------------------
        ERROR PAGE
  ------------------------------------------------------------------------- */
.error-page .error-header h1 {
  color: #fc225b; }
.error-page .error-header h1 > span {
  color: #d1baca; }
.error-page .error-header p {
  color: #2f2d40; }

/* -----------------------------------------------------------------------------

    6.) PAGE SIDEBAR

----------------------------------------------------------------------------- */
#page-sidebar .widget-title, #page-sidebar .widget-title a {
  color: #2f2d40; }
#page-sidebar .widget-title:after {
  background-color: #fc225b; }

/* -----------------------------------------------------------------------------

    7.) BOTTOM PANEL

----------------------------------------------------------------------------- */
#bottom-panel {
  color: #edeae4;
  background-color: #0b0826;
  border-color: #2f2d40;
  /* -------------------------------------------------------------------------
        BLOG WIDGET
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        FLICKR / DRIBBLE / INSTAGRAM WIDGET
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        SUBSCRIBE WIDGET
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        TWITTER WIDGET
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        BACK TO TOP
    ------------------------------------------------------------------------- */ }
  #bottom-panel .widget-title, #bottom-panel .widget-title a {
    color: #edeae4; }
  #bottom-panel .widget-title:after {
    background-color: #fc225b; }
  #bottom-panel .c-loading-anim {
    background-color: transparent; }
  #bottom-panel .c-alert-message {
    color: #edeae4;
    border-color: #2f2d40;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #bottom-panel .blog-widget ul > li {
    border-color: #2f2d40; }
  #bottom-panel .blog-widget h4 a {
    color: #edeae4; }
  #bottom-panel .blog-widget h4 a:hover {
    border-color: #edeae4; }
  #bottom-panel .blog-widget .date {
    color: #edeae4;
    color: rgba(237, 234, 228, 0.5); }
  #bottom-panel .image-list > li > a {
    -moz-box-shadow: 0 0 0 3px #2f2d40;
    -webkit-box-shadow: 0 0 0 3px #2f2d40;
    box-shadow: 0 0 0 3px #2f2d40; }
  #bottom-panel .image-list > li > a:hover {
    -moz-box-shadow: 0 0 0 3px #2f2d40;
    -webkit-box-shadow: 0 0 0 3px #2f2d40;
    box-shadow: 0 0 0 3px #2f2d40; }
  #bottom-panel .subscribe-widget input {
    color: #edeae4;
    background-color: #2f2d40; }
  #bottom-panel .subscribe-widget input[type="submit"] {
    background-color: transparent; }
  #bottom-panel .subscribe-widget button {
    color: #edeae4; }
  #bottom-panel .twitter-widget .nav-buttons {
    border-color: #fc225b; }
  #bottom-panel .twitter-widget .nav-buttons > button {
    color: #edeae4; }
  #bottom-panel .twitter-widget .nav-buttons > button:hover {
    color: #FFF;
    background-color: #fc225b; }
  #bottom-panel #back-to-top {
    color: #edeae4; }

/* -----------------------------------------------------------------------------

    8.) FOOTER

----------------------------------------------------------------------------- */
#footer {
  color: #FFF; }
  #footer a {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.2); }
  #footer a:hover {
    border-color: #FFF; }

/* -------------------------------------------------------------------------
        FOOTER SOCIAL
    ------------------------------------------------------------------------- */
#footer .footer-social {
  margin-top: -2px; }

#footer .footer-social > li > a:hover {
  color: #f4bc62;
  background-color: #FFF; }

/* -----------------------------------------------------------------------------

    9.) MAIN SIDEBAR

----------------------------------------------------------------------------- */
#main-sidebar {
  color: #edeae4;
  background-color: #0b0826;
  /* -------------------------------------------------------------------------
        SIDEBAR CLOSE
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        SIDEBAR SEARCH
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        SIDEBAR MENU
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        SIDEBAR SOCIAL
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        SIDEBAR WIDGETS
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        FLICKR / DRIBBLE / INSTAGRAM WIDGET
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        SUBSCRIBE WIDGET
    ------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------
        TWITTER WIDGET
    ------------------------------------------------------------------------- */ }
  #main-sidebar .sidebar-divider {
    border-color: #2f2d40; }
  #main-sidebar .sidebar-close {
    color: #FFF;
    background-color: #fc225b; }
  #main-sidebar .sidebar-close:hover {
    color: #fc225b;
    background-color: #FFF; }
  #main-sidebar .sidebar-search {
    background-color: #2f2d40; }
    #main-sidebar .sidebar-search input {
      color: #FFF; }
    #main-sidebar .sidebar-search input.m-has-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    #main-sidebar .sidebar-search button {
      color: #fc225b; }
    #main-sidebar .sidebar-search button:hover {
      color: #FFF;
      background-color: #fc225b; }
  #main-sidebar .sidebar-menu a {
    color: #edeae4; }
  #main-sidebar .sidebar-menu a:hover {
    border-color: #edeae4; }
  #main-sidebar .sidebar-menu .m-active > a {
    color: #fc225b; }
  #main-sidebar .sidebar-menu .m-active > a:hover {
    border-color: #fc225b; }
  #main-sidebar .sidebar-menu .toggle {
    color: #fc225b; }
  #main-sidebar .sidebar-menu .toggle.m-active, #main-sidebar .sidebar-menu .toggle:hover {
    color: #FFF;
    background-color: #fc225b; }
  #main-sidebar .sidebar-menu ul > li > ul a {
    color: rgba(237, 234, 228, 0.5); }
  #main-sidebar .sidebar-menu ul > li > ul a:hover {
    border-color: rgba(237, 234, 228, 0.5); }
  #main-sidebar .sidebar-social > li > a {
    color: #0b0826;
    background-color: #edeae4; }
  #main-sidebar .sidebar-social > li > a:hover {
    color: #FFF;
    background-color: #fc225b; }
  #main-sidebar .sidebar-widgets > .widget {
    border-color: #2f2d40; }
  #main-sidebar .widget-title, #main-sidebar .widget-title a {
    color: #edeae4; }
  #main-sidebar .widget-title:after {
    background-color: #fc225b; }
  #main-sidebar .c-loading-anim {
    background-color: transparent; }
  #main-sidebar .c-alert-message {
    color: #edeae4;
    border-color: #2f2d40; }
  #main-sidebar .image-list > li > a {
    -moz-box-shadow: 0 0 0 3px #2f2d40;
    -webkit-box-shadow: 0 0 0 3px #2f2d40;
    box-shadow: 0 0 0 3px #2f2d40; }
  #main-sidebar .image-list > li > a:hover {
    -moz-box-shadow: 0 0 0 3px #2f2d40;
    -webkit-box-shadow: 0 0 0 3px #2f2d40;
    box-shadow: 0 0 0 3px #2f2d40; }
  #main-sidebar .subscribe-widget input {
    color: #edeae4;
    background-color: #2f2d40; }
  #main-sidebar .twitter-widget .tweet_time a {
    color: #edeae4; }
  #main-sidebar .twitter-widget .tweet_time a:hover {
    border-color: #edeae4; }
  #main-sidebar .twitter-widget .nav-buttons {
    border-color: #fc225b; }
  #main-sidebar .twitter-widget .nav-buttons > button {
    color: #edeae4; }
  #main-sidebar .twitter-widget .nav-buttons > button:hover {
    color: #FFF;
    background-color: #fc225b; }

/* -----------------------------------------------------------------------------

    10.) RESPONSIVE

----------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------
        LARGE DEVICES
    ------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  #main-sidebar .sidebar-menu .toggle:hover {
    color: #fc225b;
    background-color: transparent; }
  #main-sidebar .sidebar-menu .toggle.m-active {
    color: #FFF;
    background-color: #fc225b; } }